#today-forecast {
  padding: 25px;
  margin-right: 3%;
}

#forecast-title {
  padding-top: 50px;
}

div {
  padding: 5px;
}

.card {
  padding: 0.5rem;
  width: 85%;
  height: 100%;
}

.card-body {
  height: 100%;
  width: 85%;
}
